<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Bokhandel</title>
  </head>
  <body>
    <nav id="mainNav">
      <a href="/">Hem</a>
      <a href="/cart">Kundvagn</a>
      <a href="/register" id="nav-register">Registrera</a>
      <a href="/login" id="nav-login">Logga in</a>
      <a href="/logout" id="nav-logout" style="display: none">Logga ut</a>
      <span id="welcome-message"></span>
    </nav>

    <div class="container">
      <header>
        <h1>Sök efter böcker</h1>
      </header>

      <section class="card-box">
        <div class="form-row">
          <input type="text" id="authorInput" placeholder="Sök författare..." />
          <button onclick="currentPage=1; fetchBooks()">Sök</button>
        </div>
        <div class="form-row">
          <input type="text" id="titleInput" placeholder="Sök titel..." />
          <button onclick="currentPage=1; fetchBooks()">Sök</button>
        </div>
      </section>

      <div id="bookResults"></div>
<div class="pagination">
    <button onclick="changePage(-1)">Föregående</button>
    <span><span id="pageDisplay">1</span></span>
    <button onclick="changePage(1)">Nästa</button>
</div>

    <script src="/js/main.js"></script>
  </body>
</html>
