<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
 <nav>
    <a href="/">Hem</a>
    <a href="/cart">Kundvagn</a>
    <a href="/register">Registrera</a>
    <a href="/login">Logga in</a>
    <a href="/logout">Logga ut</a>
</nav>

<div class="container">
    <h1>Sök efter böcker</h1>

    <div class="search-section">
        <div class="search-group">
            <input type="text" id="authorInput" placeholder="Sök på författare (t.ex. Ali)...">
            <button onclick="currentPage=1; fetchBooks()">Sök Författare</button>
        </div>
        <div class="search-group">
            <input type="text" id="titleInput" placeholder="Sök på titel (t.ex. Sport)...">
            <button onclick="currentPage=1; fetchBooks()">Sök Titel</button>
        </div>
    </div>

    <div id="bookResults">
        </div>

    <div class="pagination">
        <button onclick="changePage(-1)">Föregående</button>
        <span>Sida: <strong id="pageDisplay">1</strong></span>
        <button onclick="changePage(1)">Nästa</button>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>