<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width='device-width', initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Register [cite: 125]</h1>
    <form action="/api/register" method="POST">
        First Name: <input type="text" name="fname" required><br>
        Last Name: <input type="text" name="lname" required><br>
        Address: <input type="text" name="address" required><br>
        City: <input type="text" name="city" required><br>
        Zip Code: <input type="number" name="zip" required><br>
        Phone: <input type="text" name="phone" required><br>
        Email: <input type="email" name="email" required><br>
        Password: <input type="password" name="password" required><br>
        <button type="submit">Register [cite: 141]</button>
    </form>
</body>
</html>